page-talent {
    /* ---- Direction ---*/
    &.direction_rtl {
        direction: rtl;
        .search {
            right: auto !important;
            left: 10px;
        }
        h1:after {
            right: 0px;
            left: auto !important;
        }
        .card {
            .btn-secondry{
                right: auto !important;
                left: 15px;
            }
        }
    }
    &.direction_ltr {
        direction: ltr;
    }

    .segment-sec{
        margin: 0px 0px 20px;  
    }
    .card {
        .btn-secondry{
            position: fixed;
            right: 15px;
            top: 50%;
        }
    }
}
