page-home {
    /* ---- Direction ---*/
    &.direction_rtl {
        direction: rtl;
        .search {
            right: auto !important;
            left: 15px;
        }
        .coins {
            right: auto !important;
            left: 70px;
            .total-coins {
                display: flex;
                right: auto !important;
                left: -15px;
            }
        }
        .toggle-menu {
            left: auto !important;
            right: 15px;
        }
        h1:after {
            right: 0px;
            left: auto !important;
        }
    }
    &.direction_ltr {
        direction: ltr;
    }
    .home-upper-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .toplinks {
            background-color: #30B2E5;
            background: -webkit-gradient(linear, left top, right top, from(#30B2E5), to(#2E89AC));
            background: -webkit-linear-gradient(left, #30B2E5, #2E89AC);
            background: -o-linear-gradient(left, #30B2E5, #2E89AC);
            background: linear-gradient(to right, #30B2E5, #2E89AC);
            -webkit-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            color: $white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            text-decoration: none;
            font-size: 16px;
            margin-bottom: 30px;
            &:hover {
                opacity: 1;
                -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            img {
                width: 26px;
                margin: 0px 10px;
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
    }
    /* Scrolling Content */
    .scroll-block {
        margin-bottom: 50px;
        height: 280px;
    }
    .scroll-wrap {
        position: relative;
        ion-scroll {
            position: relative;
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            .scroll-content {
                padding: 0px !important;
                height: 240px;
                white-space: nowrap;
            }
        }
        /*--- Scroll-inner-block ---*/
        .scroll-inner-box {
            display: flex;
            flex-direction: row;
            white-space: nowrap;
            /*---Player Block ---*/
            .block {
                display: flex;
                width: 300px;
                flex-direction: column;
                min-width: 250px;
                margin: 0px 20px 0px 0px;
                .bg-img {
                    background: url(../../assets/imgs/football-playing-kids.png) center center no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 140px;
                    border-radius: 10px 10px 0px 0px;
                    .small-img {
                        background: url(../../assets/imgs/player.jpg) center center no-repeat;
                        background-size: cover;
                        width: 60px;
                        height: 60px;
                        border: 2px solid #fff;
                        border-radius: 5px;
                        margin: 15px 10px;
                    }
                }
                .block-footer {
                    display: flex;
                    height: 80px;
                    padding: 0px 15px;
                    justify-content: flex-start;
                    align-items: center;
                    background: #333;
                    border-radius: 0px 0px 10px 10px;
                    .player-name {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        h3 {
                            font-size: 21px;
                            color: $white;
                            margin: 0px 0px 5px;
                            font-weight: 700;
                        }
                        .country-sec {
                            font-size: 11px;
                            color: $text-color;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .country-name {
                                display: inline-block;
                                margin: 0px 8px;
                            }
                        }
                        .circle {
                            display: flex;
                            width: 12px;
                            height: 12px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            font-size: 8px;
                            background: $white;
                            color: $bg-color;
                        }
                    }
                    .player-position {
                        display: flex;
                        justify-content: flex-end;
                        flex: 1;
                        align-items: center;
                        .arrow-wrap {
                            border: 1px solid #369B33;
                            font-size: 20px;
                            color: #369B33;
                            background: rgba(54, 155, 51, .15);
                            border-radius: 100%;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                        .dot-sing {
                            display: flex;
                            align-items: center;
                            padding: 0px 5px;
                            cursor: pointer;
                            .dot {
                                display: inline-block;
                                width: 6px;
                                height: 6px;
                                background: $white;
                                border-radius: 100%;
                                margin: 0px 1px;
                            }
                        }
                    }
                }
            }
            /*--- /Player Block ---*/
        }
        /*--- /Scroll-inner-block ---*/
    }
    /* ---Scrolling Content--- */
    /************14 -12- 2018 **************/
    .home-upper-block {
        flex-direction: row;
        color: $white;
        font-size: 11px;
        background: $Black;
        @include border-radius(10px);
        justify-content: flex-start;
        align-items: center;
        padding: 11px;
        margin: 0px 0px 45px;
        .toplinks {
            background: -webkit-gradient(linear, left top, right top, from(#91C700), to(#369B33));
            background: linear-gradient(to right, #91C700, #369B33);
            font-size: 11px;
            margin: 0px 0px 0px 20px;
            flex: 1;
            img {
                width: 20px;
            }
        }
    }
    .fa-play {
        font-size:45px;
        color: rgba(255, 255, 255, .5);
    }
    .scroll-inner-box {
        .block {
            .bg-img {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .small-img {
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    margin: 0px !important;
                }
            }
            .player-position {
                .arrow-wrap {
                    color: $white !important;
                    font-size:14px !important;
                }
            }
        }
    }
}